/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{
    font-family: Roboto;
    src: url('../../resources/Fonts/Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}


.background{
    background: url('../../resources/imgs/oceanwave.JPG') no-repeat fixed;
    /*background-color: silver;*/
    bottom: 0;
    background-size: cover;
}

.banner{
    background-color: transparent;  /* url('../../resources/imgs/desert.JPG') no-repeat;*/
    background-size: cover;
    position: relative;
    height: auto;

    border-bottom: 35px solid whitesmoke;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: ghostwhite;
    opacity: 0.80;
    text-shadow: 2px 1px 0 black;
    text-transform: capitalize;
    box-shadow: 0 10px 5px black, 0 15px 10px gray;
    margin-bottom: 20px;
}
.navtop {
    background-color: transparent;
    opacity: 0.85;
    width: auto;
    height: 100px;
    text-shadow: 1px 2px 1px black, 1px 2px 10px gray;
    right: 10px;
    /* box-shadow: inset 2px 0 20px gray, inset -2px 0 20px gray, 2px 2px 20px black; */
    position: absolute;
    top: 120px;
    left: 1650px;
    z-index: 100;
}
.navtop ul{
    list-style-type: none;
    padding-left: 0;
}
.navtop li a{
    float: left;
    display: block;
    color: ghostwhite;
    text-decoration: none;
    text-shadow: 1px 1px black, 1px 4px 10px black;
    font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
}

.navtop li a:hover {
    color: ghostwhite;
    text-shadow: 1px 1px white, 2px 2px black;
}
.main {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}


.contentBox[id="clear"]{
    box-sizing: border-box;
    opacity: 0.95;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
}
.contentBox[id="solid"]{
    box-sizing: border-box;
    opacity: 0.95;
    /*box-shadow: 0 8px 10px black, 2px 20px 10px black, inset 0 2px 15px white;*/
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 0 1% 0 1%;
    overflow: auto;
    background-color: gray;
}


.contentBox content iframe{
    height: 300px;
    width: 95%;
    margin-bottom: 2%;
    padding: 2% 2% 2% 2%;
}
.contentBox content h1{
    font-size: xx-large;
    color: whitesmoke;
    text-shadow: 1px 2px 2px black;
    text-transform: uppercase;
    position: relative;
    width:200px;
    font-weight: bold;
}

.contentBox content h2{
    text-shadow: 1px 2px 2px black;
    font-size: x-large;
    color: whitesmoke;
    height: 20px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: normal;
}
.contentBox content p{
    display: inline-flex;
    box-sizing: border-box;
    box-shadow: 0 8px 10px 0 black, 0 16px 5px black;
    padding: 1% 2% 1% 2%;
    height: auto;
    width: auto;
    background: #888888;
    opacity: 0.85;
    color: ghostwhite;
    font-size: large;
    text-shadow: 1px 1px 2px black;
    position: relative;
}

.contentBox content label{
    color: ghostwhite;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.contentBox content input{
    background-color: transparent;
}
.contentBox content input:hover{
    box-shadow: 10px 10px 10px black;
}

.contentBox content input:focus{
    background-color: ghostwhite;
    box-shadow: 10px 10px 10px black;
}

.imgcont{
    display: flex;
    flex-flow:row wrap;
    position: relative;
}
.imgE{
    position: relative;
    border: solid 12px black;
    width: auto;
    height: auto;
    margin: 10px 10px 10px 20px;
    box-shadow: 2px 4px black, 2px 8px 30px black;
    opacity: 0.80;
    top: 5px;
    left: 5px;
    right: 5px;

}

.imgE:hover{
    opacity: 0.99;
    border-color: ghostwhite;
    box-shadow: 10px 10px 5px black, 2px 16px 30px black;
}

.imgE:active{
    width: 100%;
    height: 100%;
    opacity: 0.99;
}

.gallery {
    width: 500px;
    height:350px;
    background-color: transparent;
    position: relative;
}
.galler img{
    border: solid black 3px;

}
.gallery img[id="1"]{
    position: absolute;
    top: 20px;
    left:20px;
}
.gallery img[id="1"]:hover{
    position: absolute;
    top: 20px;
    left:20px;
    z-index: 10;
}

.gallery img[id="2"]{
    position: absolute;
    top: 40px;
    left: 40px;
}
.gallery img[id="2"]:hover{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10;
}
.gallery img[id="3"]{
    position: absolute;
    top: 60px;
    left: 60px;
}
.gallery img[id="3"]:hover{
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 10;
}
.gallery img[id="4"]{
    position: absolute;
    top: 80px;
    left: 80px;
}
.gallery img[id="4"]:hover{
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 10;
}
.gallery img[id="5"]{
    position: absolute;
    top: 100px;
    left: 100px;
}
.gallery img[id="5"]:hover{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10;
}
.gallery img[id="6"]{
    position: absolute;
    top: 120px;
    left:120px;
}
.gallery img[id="6"]:hover{
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 10;
}
footer {
    background-color:transparent;
    color:ghostwhite;
    text-align:center;
    padding: 5px;
    margin-right: 10px;
    width: auto;
    position: fixed;
    bottom: 0;  right: 0;
    text-shadow: 2px 2px black;
}

.aButton {
    -moz-box-shadow:inset 0 1px 0 0 #f0f7fa;
    -webkit-box-shadow:inset 0 1px 0 0 #f0f7fa;
    box-shadow:inset 0 1px 0 0 #f0f7fa;
    background-color:#33bdef;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:2px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
.aButton:hover {
    background-color:#019ad2;
}
.aButton:active {
    position:relative;
    top:1px;
}




@keyframes opacity{
    from {opacity: 0.00;}
    to {opacity: .99;}
}

#div22{
    animation: opacity 5s;
}
